<header>
  <div class="logo">
   <a href="/"><img src="images/logo.png" alt="Engineer Bro Logo"></a>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Notes <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a href="/Computer_Science_Engineering_Notes">Computer Science & Engineering</a>
          <a href="/Electrical_Engineering_Notes">Electrical Engineering</a>
          <a href="/Civil_Engineering_Notes">Civil Engineering</a>
          <a href="/Mechanical_Engineering_Notes">Mechanical Engineering</a>
          <a href="/Electronic_Communication_Engineering_Notes">Electronics & Communication Engineering</a>
          <a href="/Information_Technology_Notes">Information Technology</a>
          <a href="/Computer_Science_Engineering_Cyber_Security_Notes">Computer Science & Engineering (Cyber Security)</a>
          <a href="/Electronics_Instrumentation_Engineering_Notes">Electronics & Instrumentation Engineering</a>
        </div>
      </li>
      <li class="dropdown">
        <a href="#" class="dropbtn">Previous Year Paper <i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a href="/Computer_Science_Engineering">Computer Science & Engineering</a>
          <a href="/Electrical_Engineering">Electrical Engineering</a>
          <a href="/Civil_Engineering">Civil Engineering</a>
          <a href="/Mechanical_Engineering">Mechanical Engineering</a>
          <a href="/Electronic_Communication_Engineering">Electronics & Communication Engineering</a>
          <a href="/Information_Technology">Information Technology</a>
          <a href="/Computer_Science_Engineering_Cyber_Security">Computer Science & Engineering (Cyber Security)</a>
          <a href="/Electronics_Instrumentation_Engineering">Electronics & Instrumentation Engineering</a>
        </div>
      </li>
      <li><a href="/about" id="about-link">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <div class="hamburger-menu">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>    
</header>